/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
*::before,
*::after{
  box-sizing:border-box;
}

:root{
  -moz-tab-size:4;
  -o-tab-size:4;
     tab-size:4;
}

html{
  line-height:1.15;
  -webkit-text-size-adjust:100%;
}

body{
  margin:0;
}

body{
  font-family:system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}


input{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0;
}


[type='submit']{
  -webkit-appearance:button;
}


h1,
h2,
h3,
p{
  margin:0;
}


ul{
  list-style:none;
  margin:0;
  padding:0;
}

html{
  font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height:1.5;
}

body{
  font-family:inherit;
  line-height:inherit;
}

*,
::before,
::after{
  box-sizing:border-box;
  border-width:0;
  border-style:solid;
  border-color:#e5e7eb;
}

img{
  border-style:solid;
}

input::-moz-placeholder{
  color:#9ca3af;
}

input:-ms-input-placeholder{
  color:#9ca3af;
}

input::placeholder{
  color:#9ca3af;
}

h1,
h2,
h3{
  font-size:inherit;
  font-weight:inherit;
}

a{
  color:inherit;
  text-decoration:inherit;
}


input{
  padding:0;
  line-height:inherit;
  color:inherit;
}

img{
  display:block;
  vertical-align:middle;
}

img{
  max-width:100%;
  height:auto;
}

.bg-earth {
  background-image: url("/img/earth-bg_img.webp");
}

.bg-cover {
  background-size: cover;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.flex-auto {
  flex: 1 1 auto;
}

.font-mono {
  font-family: Jetbrains Mono, Source Code Pro;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.h-full {
  height: 100%;
}

.text-4xs {
  font-size: 0.375rem;
  line-height: 0.5rem;
}

.text-3xs {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2.0rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-8 {
  margin-right: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.max-w-full {
  max-width: 100%;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.w-full {
  width: 100%;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.nav-links{
  display: inline;
  font-size: 0.375rem;
  line-height: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}